@media screen and (min-width: 640px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
