:root {
  --text-color-primary: #111827;
  --text-color-secondary: #06080ec2;
  --color-primary: #33bebc;
  --color-secondary: #24a3a1;
  --bg-color-primary: #f9fafb;
}

:root[theme='crazy'] {
  --text-color-primary:#f9fafb;
  --text-color-secondary:#f9fafb;
  --bg-color-primary: #483d8b;
}

:root[theme='dark'] {
  --text-color-primary:#f9fafb;
  --text-color-secondary:rgba(255, 255, 255, 0.8);
  --color-primary: #cc925c;
  --bg-color-primary: #1e1e1e;
}
