@import 'vueperslides/dist/vueperslides.css';

@import './variables';
@import './general-styles';
@import './social-links';
@import './navbar';
@import './grids';

.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.no-outline {
  outline: none !important;
}
