@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900;
  }
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.color-primary {
  color: #33bebc;
}

.bg-primary {
  background-color: #33bebc;
}